.body {
  background-color: rgb(41, 49, 66);
  color: rgb(41, 49, 66);
}

h1, h2, h3, p, legend, label {
  color:rgb(147, 173, 209);

}


.navbar{
    background-color: rgb(18, 26, 36) !important;
  }

.container {
  margin-top: 2em;
}

.content-section {
  background:rgb(18, 26, 36);
  padding: 20px 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.btn {
  color: rgb(147, 173, 209);
  
}

.form-control-lg {
  background-color: rgb(155, 186, 226);
}