.body {
  background-color: rgb(14, 9, 58);
}

h1, h2, h3, p {
  color :rgb(155, 186, 226);;

}

.container {
  margin-top: 2em;
}

.navbar{
    background-color: rgb(77, 130, 201) !important;
  }

.content-section {

  background: rgb(77, 130, 201);
  padding: 20px 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(56, 96, 148);
  border-radius: 3px;
}

.btn {
  color: black;
  
}

.form-control-lg {
  background-color: rgb(155, 186, 226);
}